<nav>
    <div class="hexagon"></div>

    {{#if loggedIn}}
        {{#if signedIn}}
            <a href="/petition/thanks">Your Signature</a>
            <a href="/petition/signers">Community</a>
        {{/if}}
        <a href="/profile/edit">Profile</a>
        <a href="/logout">Logout</a>
    {{else}}
        {{#if reg}}
            <a href="/login" class="singular-login">Login</a>
        {{else}}
            <a href="/register" class="singular-login">Register</a>

        {{/if}}

    {{/if}}
</nav>