{{>navbar loggedIn=true signedIn=false}}


<section class="delete-layout">

    <h2>
        {{userName.first}}, you are about to delete your account. Are you sure
        you want to proceed?</h2>
        <img src="/assets/DeadBee.png" alt="dead bumblebee" class="form-img delete-account">

        {{#if error}}
            <p> Something went wrong, please retry.</p>
        {{/if}}

    

    <form method="POST" class="delete-post">

        <button class="submit-button delete">DELETE ACCOUNT</button>

    </form>
    <a href="/profile/edit"><button class="return">Return</button></a>

</section>