{{>navbar loggedIn=false signedIn=false}}

<section>

    <h2> Please log in. </h2>

    <div class="login-failure">
        {{#if error}}
            <p>
                Invalid log in credentials. Please try again with a valid email
                and password.</p>
        {{/if}}

    </div>

    <form method="POST">

        <input
            class="input-field"
            type="email"
            placeholder="Email"
            name="email"
            required
        />
        <input
            class="input-field"
            type="password"
            placeholder="Password"
            name="password"
            required
        />

        <button class="submit-button">Log in</button>

    </form>

</section>