{{>navbar loggedIn=true signedIn=false}}
    <img src="/assets/signature.png" alt="signature" class="form-img">
<section class="sign-section">

    <h2> Use your mouse on the canvas below to sign our petition. </h2>

    <div class="petition-failure">
        {{#if error}}
            <p> Please sign the canvas before submitting.</p>
        {{/if}}

    </div>

    <form method="POST">

        <input
            type="hidden"
            placeholder="Signature"
            name="signature"
            id="signature-input"
            required
        />
        <canvas id="signCanvas" width="350" height="150"></canvas>

        <button class="submit-button">Submit</button>

    </form>
</section>

<script src="/script.js"></script>