{{>navbar loggedIn=true signedIn=false}}
<section class="sign-section">

    <h2> Use your mouse on the canvas below to sign our petition. </h2>
        {{#if error}}
            <p> Please sign the canvas before submitting.</p>
        {{/if}}
    <div class="petition-layout">

    
    <img src="/assets/signature.png" alt="signature" class="form-img">



    <form method="POST">

        <input
            type="hidden"
            placeholder="Signature"
            name="signature"
            id="signature-input"
            required
        />
        <canvas id="signCanvas" width="450" height="200"></canvas>

        <button class="submit-button">Submit</button>

    </form>
    </div>
</section>

<script src="/script.js" type="module"></script>