{{>navbar loggedIn=true signedIn=false}}

<section class="onboarding-form">

    <h2> Welcome, {{userName.first}}! Would you like to tell us more about yourself? </h2>


        {{#if error}}
            <p>
                Uh, oh. Something went wrong, please retry.</p>
        {{/if}}

    <div class="onboarding-layout">

       

    <img src="/assets/butterfly.jpg" alt="butterfly" class="form-img onboarding">


   

    <form method="POST">
        <h3>You can also continue and provide this information later if you wish to do so.</h3>


        <input class="input-field" type="number" placeholder="Age" name="age" />
        <input
            class="input-field"
            type="text"
            placeholder="City"
            name="city"
            pattern="[A-Za-z\s]+"
            title="Provide only valid characters."
        />
        <input class="input-field" type="url" placeholder="URL" name="url" />

        <button class="submit-button">Continue</button>

    </form>

     </div>

</section>