{{>navbar loggedIn=false signedIn=false reg=true}}
<header class="hero"> <h1>Save Berlin's insects!</h1></header>

<div class="register-container">


<div class="register-appeal"> 
    <h2>Over a period of 30 years, Germany's insect population has decreased by circa 75%. We pledge to campaign for: </h2>
    <ul>
        <li>The conversion of Berlin's urban surfaces (curbside walks, for instance) into wildflower meadows.</li>
        <li>The rewilding of lost habitats.</li>
        <li>The total ban of neonicotinoid pestices.</li>
        <li>To promote and support best gardening practices based on ecological and community principles. </li>
    </ul>
</div>

<section class="register">

    <h2> Join our campaign! You can register and show your support bellow. </h2>

    <div class="register-failure">
        {{#if error}}
            <p> Uh, oh. Something went wrong. please try again.</p>
        {{/if}}

    </div>

    <form method="POST">
        <input
            class="input-field"
            type="text"
            placeholder="First Name"
            name="fName"
            required
        />
        <input
            class="input-field"
            type="text"
            placeholder="Last Name"
            name="lName"
            required
        />
        <input
            class="input-field"
            type="email"
            placeholder="Email"
            name="email"
            required
        />
        <input
            class="input-field"
            type="password"
            placeholder="Password"
            name="password"
            required
        />

        <button class="submit-button">Submit</button>

    </form>

</section>

</div>
