<section>

    <h2> Join our campaign! You can register and show your support bellow. </h2>

    <div class="register-failure">
        {{#if error}}
            <p> Uh, oh. Something went wrong. please try again.</p>
        {{/if}}

    </div>

    <form method="POST">
        <input
            class="input-field"
            type="text"
            placeholder="First Name"
            name="fName"
            required
        />
        <input
            class="input-field"
            type="text"
            placeholder="Last Name"
            name="lName"
            required
        />
        <input
            class="input-field"
            type="email"
            placeholder="Email"
            name="email"
            required
        />
        <input
            class="input-field"
            type="password"
            placeholder="Password"
            name="password"
            required
        />

        <button class="submit-button">Submit</button>

    </form>

    <p> Already registered? You can login <a href="/login">here</a> .</p>
</section>