<section>

    <h2> Here are your fellow signers. May your bounty be plentiful! </h2>

    <div class="signers-container">

        {{#sendResults}}
            <p>{{first}} {{last}}</p>
        {{/sendResults}}

    </div>
</section>