<h2>I am the SIGNED THANKS template. Thanks for signing gurl </h2>

<p>{{sendResults.first}} {{sendResults.last}} </p>
<img src="{{sendResults.signature}}" alt="signature" />

<a href="/petition/signers">
    See all other
    {{count}}
    people who signed so far.</a>