body,
section,
form,
.hero,
.signers-container,
.profile-label,
.register-appeal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #099a97;
    color: #f1e4e4;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    margin: 0;
}
h1 {
    font-size: 3rem;
    margin-top: 80px;
}
h2 {
    font-size: 2rem;
    margin-bottom: 50px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #f1e4e4;
    margin: 10px 0;
}
a:hover {
    color: #fda500;
}
section {
    border: 15px solid #f1e4e4;
    border-radius: 20px;
    width: 60%;
    padding: 5%;
    margin: 5% 0;
}

footer {
    margin-bottom: 3%;
}

.form-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid #f1e4e4;
    margin-top: 60px;
    object-fit: cover;
}

/* navbar section */

.hexagon {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background: url("/assets/bee.jpg") no-repeat;
    background-size: cover;
    margin: 30px auto;
    height: 110px;
    width: 110px;
    position: absolute;
    left: 5%;
}

nav {
    display: flex;
    width: 100%;
    height: 180px;
    background-color: #204b42;
    margin: 0;
    justify-content: flex-end;
}

nav a {
    color: #f1e4e4;
    padding: 50px 30px;
    margin-top: 35px;
    font-size: 1.5rem;
    font-weight: normal;
}
nav a:hover {
    color: #fda500;
}

nav a:last-child {
    margin-right: 15%;
}

.singular-login {
    font-weight: bolder;
}

/* stalker bee */

#stalker {
    position: absolute;
    width: 45px;
    height: 45px;
    pointer-events: none;
    background: url("/assets/transparent.png");
    background-size: cover;
}

/* register section */
.hero {
    width: 100%;
    height: 600px;
    background: url("/assets/heroBee.jpg");
    background-size: cover;
}
.hero h1 {
    font-size: 6rem;
    text-shadow: 0.05em 0 #0e2b25, 0 0.05em #0e2b25, -0.05em 0 #0e2b25,
        0 -0.05em #0e2b25, -0.05em -0.05em #0e2b25, -0.05em 0.05em #0e2b25,
        0.05em -0.05em #0e2b25, 0.05em 0.05em #0e2b25;
}

section.register {
    width: 35%;
    margin: 200px 10%;
    align-self: flex-end;
}

.register-container {
    display: flex;
}

.register-appeal {
    margin: 200px 0 10% 150px;
    width: 35%;
    justify-content: space-between;
}
li {
    margin: 40px 0;
    line-height: 1.5;
    font-size: 1.3rem;
}
ul {
    padding-left: 10px;
}

/* signature section */

canvas,
.input-field {
    width: 350px;
    border-radius: 10px;
    margin: 10px;
}

canvas {
    height: 150px;
    background-color: #ffffde;
}

.sign-section {
    padding: 40px;
}

/* thanks section */

.thanks-form {
    display: flex;
    flex-direction: row;
}
.thanks-form .form-img {
    margin: 20px;
}
.thanks-info {
    display: flex;
    flex-direction: column;
    padding: 60px 40px 60px 60px;
    align-content: flex-start;
}
.thanks-info form {
    align-items: flex-start;
}
.thanks-info form button {
    margin-left: 0;
}
section.thanks-form {
    padding: 0 5%;
}

/* profile edit section */
.edit.form-img {
    margin: 15px 0 60px 0;
}

.profile-label {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.profile-form {
    width: 500px;
}
.profile-label p {
    font-size: 1.2rem;
}

/* delete account section */

.form-img.delete-account {
    margin-top: 20px;
}

/* form inputs */
.input-field {
    height: 50px;
    font-size: 24px;
    color: #204b42;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
}
button {
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: Helvetica, Arial, sans-serif;
    color: #f1e4e4;
    background-color: #204b42;
}
button:active {
    background-color: #fda500;
    color: #0e2b25;
}

.signers-container {
    margin-top: 80px;
}

a.petition-signers {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 1.2rem;
}
.count {
    color: #fda500;
    padding: 0 3px;
}

.profile-label {
    margin-bottom: 25px;
}

.inline {
    display: inline;
}

.link-button {
    background: none;
    border: none;
    color: #f1e4e4;
    cursor: pointer;
    width: auto;
    height: auto;
    margin: 10px;
    font-size: 1.2rem;
}
.link-button:focus {
    outline: none;
}
.link-button:active {
    color: #f1e4e4;
}

/* deleting commands */

.warning {
    color: #fda500;
    font-size: 1.6rem;
}
.link-button:hover,
.warning:hover {
    color: #ff6601;
}
.delete:hover {
    background-color: #ff6601;
}

.delete {
    background-color: #fda500;
}
.delete {
    color: #0e2b25;
}
.delete:active {
    background-color: #600505;
    color: #f1e4e4;
}
